 /*
  @file
  This file is CSS for homeView.php .
 */

 .ulogin {
   background-color: #002b4f;
   padding: 50px;
   color: white;
   box-shadow: 0px 4px 5px #454444;
   transition: all .1s ease;

 }
 .ulogin:hover {
   transform: scale(1.01);
   box-shadow: 0px 4px 10px #00ddff;
   background-color: rgba(20,148,255,.9);

 }
 .login {
   color: white;
   background-color: #ba3b00;
   padding: 50px;
   box-shadow: 0px 4px 5px #454444;
   transition: all .2s ease;
 }
 .login:hover {
   transform: scale(1.01);
   box-shadow: 0px 4px 10px #00ddff;
   background-color: rgba(255,119,0,.9); }
  a,a:hover {
    color: white;
  }
