 /*
  @file
  This file is CSS for homeView.php .
 */

.login {
  color: white;
  background-color: #ba3b00;
  padding: 20px;
  box-shadow: 0px 4px 5px #454444;
  transition: all .2s ease;
}

.login:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 10px #00ddff;
  background-color: rgba(255,119,0,.9);
  cursor: pointer;}
